.card {
  box-shadow: 0px 0px 30px rgba(112, 110, 110, 0.473);
  background-clip: border-box;
  border-radius: 0.25rem;
  .card-head {
    background: #F2F2F2;
    padding: 5px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    line-height: 25px;
  }
  .card-body {
    padding: 2.5rem;
  }
}