/*===================
colores de fondo
===================*/

.bg-blue {
  background: var(--azul);
}
.bg-red {
  background-color: var(--rojo);
}
.bg-yellow {
  background-color: var(--amarillo);
}
.bg-dark {
  background-color: var(--dark);
}
.bg-green {
  background-color: var(--verde);
}
.bg-purpura {
  background-color: var(--purpura);
}
.bg-orange {
  background-color: var(--naranja);
}
.bg-white {
  background: var(--blanco);
}